{{!-- Enemy Description Tab --}}
<section class="tab description{{#if tabs.description.active}} active{{/if}}" data-group="primary" data-tab="description">
  <div class="biography-content">
    {{editor enrichedDescription target="system.description"
             button=true editable=editable}}
  </div>
</section>
