{{!-- Item Sheet Header --}}
<header class="sheet-header flexrow">
  <img class="profile-img" src="{{item.img}}" data-edit="img"
       title="{{item.name}}" height="48" width="48" />
  <h1 class="item-name">
    <input name="name" type="text" value="{{item.name}}" />
  </h1>
</header>
